# Python
__pycache__/
*.pyc
*.pyo
*.pkl
*.npz
*.pt
*.pth

# 数据
data/processed/*

# 模型
checkpoints/*

# 日志
logs/*
!logs/.gitkeep

# 环境
.env
.venv/
conda_env/

# IDE
.vscode/
.idea/

# 系统
Thumbs.db
.DS_Store
